<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>會員註冊</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>

	<div class="container">
		<h1>會員註冊</h1>
		
		<div class="card">
			<div class="card-header">請輸入資料，進行註冊</div>
			<div class="card-body">
				<form th:action="@{/member/addPost}" method="post" th:if="!${registerMember}">
					<input class="form-control" name="memberName" placeholder="請輸入姓名" required> <br>
					<input class="form-control" name="memberNickName" placeholder="請輸入使用者暱稱" required> <br>
					<input class="form-control" type="email" name="memberEmail" placeholder="請輸入Email" required> <br>
					<input class="form-control" type="password" name="memberPassword" placeholder="請輸入密碼" required> <br>
					<input class="btn btn-primary" value="送出" type="submit">
				</form>
				
				<form th:action="@{/member/addPost}" method="post" th:if="${registerMember}" th:object="${registerMember}">
					<input class="form-control" name="memberName" placeholder="請輸入姓名" required th:value="*{memberName}"> <br>
					<input class="form-control" name="memberNickName" placeholder="請輸入使用者暱稱" required th:value="*{memberNickName}"> <br>
					<input class="form-control" type="email" name="memberEmail" placeholder="請輸入Email" required> 
					<span th:if="${errorMsg}" th:text="${errorMsg}"></span> <br>
					<input class="form-control" type="password" name="memberPassword" placeholder="請輸入密碼" required> <br>
					<input class="btn btn-primary" value="送出" type="submit">
				</form>
			</div>
		</div>
		
	</div>
</body>
</html>