<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>帳號申請</title>
<style>
.preview-img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
	border: 1px solid #ccc;
}
</style>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>

	<div class="container">
		<h1>商家/供應商帳號申請</h1>
		
		<div class="card">
			<div class="card-header">請輸入資料，進行申請</div>
			<div class="card-body">
				<form th:action="@{/member/add/applyPost}" method="post" th:if="!${registerMember}" enctype="multipart/form-data">
					
					<div>
						<label class="form-label">申請類別</label> <br>
						
						<input type="radio" name="memberRole" value="MERCHANT" required title="請選擇一個申請類別">
						<label class="form-label">商家</label>
						
						<input type="radio" name="memberRole" value="SUPPLIER">
						<label class="form-label">供應商</label>
					</div>
					
					<label class="form-label">負責人姓名</label>
					<input class="form-control" name="memberName" placeholder="請輸入姓名" required> <br>
					
					<label class="form-label">商家/供應商名稱</label>
					<input class="form-control" name="memberNickName" placeholder="請輸入使用者暱稱" required> <br>
					
					<label class="form-label">Email</label>
					<input class="form-control" type="email" name="memberEmail" placeholder="請輸入Email" required> <br>
					
					<label class="form-label">密碼</label>
					<input class="form-control" type="password" name="memberPassword" placeholder="請輸入密碼" required> <br>
					
					<label class="form-label">大頭貼</label>
					<input class="form-control" type="file" name="photoFile" accept="image/*" id="memberPhotoInput"> <br>
					<img src="/images/user.png" id="memberPhoto" class="preview-img"> <br> <br>
					
					<input class="btn btn-primary" value="送出" type="submit">
					<a th:href="@{/}" class="btn btn-danger">取消</a>
				</form>
				
				<form th:action="@{/member/add/applyPost}" method="post" th:if="${registerMember}" th:object="${registerMember}" enctype="multipart/form-data">
					
					<div>
						<label class="form-label">申請類別</label> <br>
						
						<input type="radio" th:field="*{memberRole}" value="MERCHANT" required title="請選擇一個申請類別">
						<label class="form-label">商家</label>
						
						<input type="radio" th:field="*{memberRole}" value="SUPPLIER">
						<label class="form-label">供應商</label>
					</div>
					
					<label class="form-label">負責人姓名</label>
					<input class="form-control" name="memberName" placeholder="請輸入姓名" required th:value="*{memberName}"> <br>
					
					<label class="form-label">商家/供應商名稱</label>
					<input class="form-control" name="memberNickName" placeholder="請輸入使用者暱稱" required th:value="*{memberNickName}"> <br>
					
					<label class="form-label">Email</label>
					<input class="form-control" type="email" name="memberEmail" placeholder="請輸入Email" required th:value="*{memberEmail}">
					<span th:if="${errorMsg}" th:text="${errorMsg}"></span> <br> <br>
					
					<label class="form-label">密碼</label>
					<input class="form-control" type="password" name="memberPassword" placeholder="請輸入密碼" required> <br>
					
					<label class="form-label">大頭貼</label>
					<input class="form-control" type="file" name="photoFile" accept="image/*" id="memberPhotoInput"> <br>
					<img src="/images/user.png" id="memberPhoto" class="preview-img"> <br> <br>
					
					<input class="btn btn-primary" value="送出" type="submit">
					<a th:href="@{/}" class="btn btn-danger">取消</a>
				</form>
			</div>
		</div>
		
	</div>
	
	<script type="text/javascript">
		const memberPhotoInput = document.querySelector("#memberPhotoInput");
		const memberPhoto = document.querySelector("#memberPhoto");
	    memberPhotoInput.addEventListener("change", () => {
	        const file = memberPhotoInput.files[0];
	        if (file) {
	            memberPhoto.src = URL.createObjectURL(file);
	        } else {
	            memberPhoto.src = "${root}/no_img.jpg";
	        }
	    });
	
	    memberPhoto.addEventListener("click", () => memberPhotoInput.click());
	</script>
</body>
</html>