<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>景點</title>
</head>
<body>
<div th:replace="~{layout/navbar}"></div>


<div class="container">


<h1>景點</h1>


<ul>


<th:block th:each=" attr  : ${attrList}">
   <li> <span th:text="${attr.name}"></span> @  <a th:href="@{/attr/show(attrId=${attr.id})}">看景點照片</a>  </li>
</th:block>
</ul>




<div th:if="${attrPhotoIds}" id="showAttrPhotosBlock" >


	<th:block th:each=" oneAttrPhotoId : ${attrPhotoIds}">
	
		<img width="250px" th:src="@{/attr/photo(id=${oneAttrPhotoId})}" />
		<br>
	
	</th:block>


</div>




</div>


</body>
</html>
