<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>上傳景點</title>
</head>
<body>
<div th:replace="~{layout/navbar}"></div>


<div class="container">


<h1>上傳景點</h1>


<div class="card">
  <div class="card-header">
    上傳景點
  </div>
  <div class="card-body">
   <form th:action="@{/attr/addPost}" method="post" enctype="multipart/form-data">
   
    <input class="form-control" placeholder="景點名稱" name="name" required />
    <br>
    
    <input class="form-control" placeholder="幾顆星(1~5)" name="star" type="number" min="1" max="5" required />
    <br>
    
    <input class="form-control" type="file" name="files" required multiple />
     <div>請使用 png, jpeg, gif，可以選多張圖片</div>
    <br>
   
     <input class="btn btn-primary" value="送出" type="submit" />
   </form>  
   <div th:text="${okMsg} ? ${okMsg}"></div>
   
  </div>
</div>




</div>




</body>
</html>
