<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>新增訊息</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>
	<div class="container">


		<h1>新增訊息</h1>


		<div class="card">
			<div class="card-header">請填入新訊息</div>
			<div class="card-body">
				<form th:action="@{/msg/addPost}" method="post">

					<input class="form-control" name="text" required /> <br> <input
						class="btn btn-primary" value="送出" type="submit" />
				</form>
				<div th:text="${okMsg} ? ${okMsg}"></div>
			</div>
		</div>


		<br>
		<div th:if="${lastestMsg}" class="card">
			<div class="card-header">
				最新訊息，時間 :<span th:text="${lastestMsg.createdAt}"></span> <br>
				最新訊息，時間 :<span
					th:text="${#dates.format(lastestMsg.createdAt, 'EEEE dd日 MM 月 yyyy 年 HH:mm:ss') }"></span>
			</div>
			<div class="card-body">
				<p th:text="${lastestMsg.text}"></p>
			</div>
		</div>




	</div>


</body>
</html>
