<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>列出員工</title>
</head>
<body>
<div th:replace="~{layout/navbar}"></div>
<div class="container">
<h1>列出員工</h1>




<th:block th:each=" oneEmp : ${allEmpList}">


	<div th:text="${oneEmp.name}"></div>
	<div th:text="${oneEmp.email}"></div>
	<div th:text="${oneEmp.jobAge}"></div>
	<div><a th:href="@{/employee/update(id=${oneEmp.id})}">修改</a></div>
	<div><a th:href="@{/employee/update2(id=${oneEmp.id})}">修改2</a></div>
	<div><a th:href="@{/employee/delete(id=${oneEmp.id})}">刪除</a></div>
	
	<div>==============================</div>


</th:block>


</div>
</body>
</html>
