<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>登入</title>
</head>
<body>
<div th:replace="~{layout/navbar}"></div>


<div class="container">


<h1>登入</h1>


  <div class="card">
  <div class="card-header">
    請輸入使用者名稱和密碼
  </div>
  <div class="card-body">
   <form th:action="@{/users/loginPost}" method="post">
   
    <input class="form-control" name="username" placeholder="請輸入使用者名稱" required />
   
    <br>
    <input class="form-control" type="password" name="pwd" placeholder="請輸入密碼" required />
      <br>
     <input class="btn btn-primary" value="送出" type="submit" />
    
   </form>  
   
   <div th:if="${okMsg}" th:text="${okMsg}"></div>
   <div th:if="${errMsg}" th:text="${errMsg}"></div>
   <div th:if="${loginFirst}" th:text="${loginFirst}"></div>
  
  </div>
</div>




</div>


</body>
</html>
