<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>查看 GoodPhoto</title>
</head>
<body>
<div th:replace="~{layout/navbar}"></div>


<div class="container">


<h1>查看 GoodPhoto</h1>
<h5 th:if="${addOk}" th:text="${addOk}"></h5>


   <th:block th:each=" oneGoodPhoto : ${goodPhotoList}">
   
        <div th:text="${oneGoodPhoto.photoName}"></div>
        <img width="200" th:src="@{/photos/download(id=${oneGoodPhoto.id})}" />
        <a th:href="@{/cart/add(goodphotoId=${oneGoodPhoto.id})}">加入購物車</a>
   
   </th:block>




</div>


</body>
</html>
