<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>上傳圖片</title>
</head>
<body>
<div th:replace="~{layout/navbar}"></div>


<div class="container">


 <h1>上傳圖片</h1>
 
 <div class="card">
  <div class="card-header">
    請上傳圖片
  </div>
  <div class="card-body">
   <form th:action="@{/photos/addPost}" method="post" enctype="multipart/form-data">
   
    <input class="form-control" placeholder="圖片名稱" name="name" required />
    
    <br>
    
    <input class="form-control" type="file" name="file" required />
     <div>請使用 png, jpeg, gif</div>
    <br>
   
     <input class="btn btn-primary" value="送出" type="submit" />
   </form>  
   <div th:text="${uploadOK} ? ${uploadOK}"></div>
   <div th:text="${contentTypeError} ? ${contentTypeError}"></div>
  </div>
</div>


</div>








</body>
</html>
